@font-face {
  font-family: 'PTSans';
  src: url('../fonts/web/ptsansnarrow.woff2') format('woff2'),
       url('../fonts/web/ptsansnarrow.woff') format('woff');
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/web/ptsansnarrowbold.woff2') format('woff2'),
       url('../fonts/web/ptsansnarrowbold.woff') format('woff');
       font-weight: bold;
}