.body {
  font-family: PTsans, sans-serif;
  font-size: 16px;
}

.visually-hiden { /* Доступно прячет элемент в браузере для скринридеров. */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding-left: 0;
  font-size: 1.3rem;
  line-height: 1.5;
}

.white-background {
  background: -webkit-linear-gradient(left, #ffffff,#f0f3ff);
  background: linear-gradient(to right, #ffffff,#f0f3ff);
}

.blue-background {
  /* background: -webkit-linear-gradient(left, #2e62ff);
  background: linear-gradient(to right, #2e62ff); */
  background: -webkit-linear-gradient(left, #2c6add,#0b36d0);
  background: linear-gradient(to right, #2c6add,#0b36d0);
}

/* Конец общих стилей */

/* Начало блока promo */

.promo {
  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title,
.container {
  position: relative;
}

.title {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.promo_margin {
  margin-bottom: 1.6rem;  
}

.product-photo {
  width: 5rem;
  background: none;
}

.product-photo[alt] {
  font-size: 1.3rem;
}

/* Конец блока promo */

/* Начало блока product-composition */

.product-composition {
  padding-bottom: 1px;
}

.product-composition_center {
  text-align: center;
}

.product-composition__title {
  margin-top: 0;
  padding-top: 0.8rem;
}

.product-composition__600px {
  display: none;
}

/* Конец блока product-composition */


/*  Начало блока reviews */

.testimonials {
  font-family: 'Noto Sans', sans-serif;
  color: black;
  padding: 15px;
  text-align: center;
}

.scroller {
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
}

.item {
  min-width: 100%;
  min-height: 200px; /* To start with */
  background-color: #EDF2F7; /* For demo */ /* blue-background */
  scroll-snap-align: center;
  background-color: white; /* Change the value to white */
  margin-bottom: 10px;
  padding: 0 50px;
}

/* Конец блока reviews */

@media screen and (min-width: 480px) {

  /* .video {
    height: 17rem;
  } */
}

@media screen and (min-width: 1024px) {

  .testimonials {
    max-width: 800px;
    margin: auto;
 }
}