.body {
  font-family: PTsans, sans-serif;
  font-size: 16px;
}

.visually-hiden { /* Доступно прячет элемент в браузере для скринридеров. */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.white-background {
  background: -webkit-linear-gradient(left, #ffffff,#f0f3ff); /* #6d717e) */
  background: linear-gradient(to right, #ffffff,#f0f3ff);
}

.blue-background {
  background: -webkit-linear-gradient(left, #2c6add,#0b36d0);
  background: linear-gradient(to right, #2c6add,#0b36d0);
}

.list {
  list-style: none;
  padding-left: 0;
  font-size: 1.3rem;
  line-height: 1.5;
}

.link {
  display: inline-block;
  zoom: 1; /* масштабирование и *display = ie7 хак для отображения display:inline-block */
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% 'Roboto', sans-serif;
  padding: .8rem 2em .8rem;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.link:active {
  position: relative;
	top: 1px;
}

.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	background: -ms-linear-gradient(top,  #7db72f,  #4e7d0e);
    background-image: -o-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	background: -ms-linear-gradient(top,  #6b9d28,  #436b0c);
    background-image: -o-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #c2dda0;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	background: -ms-linear-gradient(top,  #4e7d0e,  #7db72f);
    background-image: -o-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

/* Конец общих стилей */

/* Начало блока promo */

.promo {
  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title,
.container {
  position: relative;
}

.title {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.promo_margin {
  margin-bottom: 1.6rem;  
}

.product-photo {
  width: 7rem;
  background: none;
}

.product-photo[alt] {
  font-size: 1.3rem;
}

.promo__item_margin {
  margin-bottom: 1rem;
}

/* Конец блока promo */

/* Начало блока product-composition */

.product-composition {
  padding-bottom: 1px;
}

.product-composition_center {
  text-align: center;
}

.product-composition__title {
  margin-top: 0;
  padding-top: 0.8rem;
}

.product-composition__600px {
  display: none;
}

/* Конец блока product-composition */


/*  Начало блока reviews */

.testimonials {
  max-width: 800px;
  margin: auto;
  font-family: 'Noto Sans', sans-serif;
  color: #4A5568;
  padding: 15px;
  text-align: center;
  position: relative;
}

.scroller {
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
}

.scroller__item {
  min-width: 100%;
  min-height: 200px; /* To start with */
  background-color: #EDF2F7; /* For demo */ /* blue-background */
  scroll-snap-align: center;
  background-color: white; /* Change the value to white */
  margin-bottom: 10px;
}

.userpic {
  margin: 15px auto -60px;
  width: 120px;
  height: 120px;
  border: solid 4px #ffffff;
  border-radius: 60px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.card {
  background-color: rgb(237, 242, 247);
  padding: 80px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.card__text {
  font-style: italic;
  line-height: 1.6;
}

.card__span {
  display: block;
  margin-top: 20px;
  color: teal;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.testimonials__btn {
  position: absolute;
  top: 50%;
  margin-top: 20px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(95, 106, 117, 0.3);
  z-index: 1;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.testimonials__btn:hover{
  background-color: rgba(95, 106, 117, 0.5);
  cursor: pointer;
}

.next {
  right: 15px;
}

.prev {
  left: 15px;
}

/* Конец блока reviews */

@media screen and (min-width: 480px) {

 /*  .item {
    padding: 0 30px;
  } */

  /* .card {
    padding: 80px 30px 30px;
  } */
}

@media screen and (min-width: 1024px) {

  /* .item {
    padding: 0 50px;
  } */
}