.body {
  font-family: PTsans, sans-serif;
  font-size: 16px;
}

.visually-hiden { /* Доступно прячет элемент в браузере для скринридеров. */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.white-background {
  background: -webkit-linear-gradient(left, #ffffff,#f0f3ff); /* #6d717e) */
  background: linear-gradient(to right, #ffffff,#f0f3ff);
}

.blue-background {
  background: -webkit-linear-gradient(left, #789de0,#b3b9d0);
  background: linear-gradient(to right, #789de0,#b3b9d0);
}

.list {
  list-style: none;
  padding-left: 0;
  font-size: 1.3rem;
  line-height: 1.5;
}

.item_margin {
  margin-bottom: 1rem;
}

.link {
  display: inline-block;
  zoom: 1; /* масштабирование и *display = ie7 хак для отображения display:inline-block */
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% 'Roboto', sans-serif;
  padding: .8rem 2em .8rem;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.link:active {
  position: relative;
	top: 1px;
}

.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	background: -ms-linear-gradient(top,  #7db72f,  #4e7d0e);
  background-image: -o-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	background: -ms-linear-gradient(top,  #6b9d28,  #436b0c);
  background-image: -o-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #c2dda0;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	background: -ms-linear-gradient(top,  #4e7d0e,  #7db72f);
  background-image: -o-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

/* Конец общих стилей */

/* Начало блока promo */

.promo {
  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title,
.container {
  position: relative;
}

.title {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.promo_margin {
  margin-bottom: 1.6rem;  
}

.product-photo {
  width: 7rem;
  background: none;
}

.product-photo[alt] {
  font-size: 1.3rem;
}

/* Конец блока promo */

/* Начало блока product-composition */

.product-composition {
  padding-bottom: 1px;
}

.product-composition_center {
  text-align: center;
}

.product-composition__title {
  margin-top: 0;
  padding-top: 0.8rem;
}

.product-composition__600px {
  display: none;
}

/* Конец блока product-composition */


/*  Начало блока reviews */

.testimonials {
  max-width: 800px;
  margin: auto;
  font-family: 'Noto Sans', sans-serif;
  color: #4A5568;
  padding: 15px;
  text-align: center;
  position: relative;
}

.scroller {
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroller__item {
  min-width: 100%;
  min-height: 200px; /* To start with */
  background-color: #EDF2F7; /* For demo */ /* blue-background */
  scroll-snap-align: center;
  background-color: white; /* Change the value to white */
  margin-bottom: 10px;
}

.userpic {
  margin: 15px auto -60px;
  width: 120px;
  height: 120px;
  border: solid 4px #ffffff;
  border-radius: 60px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.card {
  background-color: rgb(237, 242, 247);
  padding: 80px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.card__text {
  font-style: italic;
  line-height: 1.6;
}

.card__span {
  display: block;
  margin-top: 20px;
  color: teal;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.testimonials__btn {
  position: absolute;
  top: 50%;
  margin-top: 20px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(95, 106, 117, 0.3);
  z-index: 1;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.testimonials__btn:hover{
  background-color: rgba(95, 106, 117, 0.5);
  cursor: pointer;
}

.next {
  right: 15px;
}

.prev {
  left: 15px;
}

/* Конец блока reviews */

/* Начало блока promo2 */

.figurepic {
  margin-left: 0;
  margin-right: 2rem;
}

.doctorpic {
  width: 9rem;
}

.promo2__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.promo2__item {
  margin-right: 1rem;
}

/* Конец блока promo2 */

/* Начало блока order-form */

.order-form__title {
  margin-top: 0;
  padding-top: 1rem;
}

.timer {
  display: flex;
  justify-content: center;
}

.order-form__container {
  flex-direction: column;
  align-items: center;
}

.order-form__pic {
  width: 7rem;
}

.price {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.old-price {
  text-decoration: line-through;
}

@keyframes growAndGlow {
  from {
    color: yellow;
  }

  50% {
    transform: scale(1.5);
    color: blue;
  }

  to {
    transform: scale(3);
    color: red;
  }
}

.animation {
  width: 40%;
  margin: 0 auto;
  animation-name: growAndGlow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
 /*  -webkit-animation-name: growAndGlow;
  -webkit-animation-direction: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: growAndGlow;
  -moz-animation-direction: 3s;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: growAndGlow;
  -o-animation-direction: 3s;
  -o-animation-iteration-count: infinite; */
}

.order-form__form {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}


.order-form__meaning {
  display: block;
  width: 5rem;
  margin-bottom: 1rem;
}

.order-form__data {
  width: 14rem;
  margin-bottom: 3rem;
  position: relative;
}

.order-form__input,
.order-form__submit {
  border-radius: 10px;
}

.order-form__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 11.8rem;
  height: 0.5rem;
  border: 2px solid blue;
  padding: 1rem;
}

.order-form__hint {
  display: none;
  color: #aaa;
  position: absolute;
}

.order-form__input:focus + .order-form__hint,
.order-form__input:hover + .order-form__hint,
.order-form__input:valid + .order-form__hint {
  display: block;
  font-size: 13px;
  top: 5px;
  right: 5px;  
}

.order-form__input:focus {
  border: 2px solid rgb(242, 203, 127);
}

.order-form__input:hover {
  border: 2px solid rgb(242, 203, 127);
}

.order-form__submit {
  display: block;
  width: 10rem;
  height: 100%;
  border: none;
  padding: 1rem;
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

/* Конец блока order-form */

@media screen and (min-width: 480px) {

  .order-form__form {
    width: 15rem;
  }

  .doctorpic {
    width: 12rem;
  }
}

@media screen and (min-width: 600px) {

  .product-composition__320px {
    display: none;
  }

  .product-composition__600px {
    display: flex;
  }

  .product-composition__item {
    width: 9rem;
    margin-top: 0;
    margin-bottom: 4rem;
    position: relative;
  }

  .product-composition__ingredient {
    width: 7rem;
    margin: 0 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;

  }
 
  .product-composition__img-ingredient {
    width: 5rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
  }

  .product-composition__text {
    text-align: center;
    background-color: white;
  }

  .svg {
    position: absolute;
    width: 5.5rem;
    height: 7rem;
  }

  .svg__line {
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
  }

  .product-composition__svg1 {
    top: 7rem;
    left: 9rem;
  }

  .product-composition__svg2 {
    top: 2rem;
    left: 9rem;
  }

  .product-composition__svg3 {
    top: 1rem;
    left: 9rem;
  }

  .product-composition__svg4 {
    top: 7rem;
    left: -5.6rem;
  }

  .product-composition__svg5 {
    top: 2rem;
    right: 9rem;
  }

  .product-composition__svg6 {
    top: 1rem;
    right: 9rem;
  }
  
  .product-composition__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  .product-photo__composition {
    margin-bottom: 1.5rem;
  }

  .order-form__container {
    flex-direction: row;
  }

  .order-form__form {
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 768px) {

  .doctorpic {
    width: 20rem;
  }
}

@media screen and (min-width: 1024px) {

  body {
    width: 768px;
    margin: 0 auto;
  }
}